@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
body {
   
    overflow-x: hidden;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
    
.flex-container > div {
   
    padding: 20px;
    font-size: 25px;
    }

   
.titulo__conteudo {
    text-align: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;

}

.menu li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    font-size: 24px;
    padding: 6px;
    color: black;
    font-family: 'Darumadrop One', cursive;
} 
.menu li a:hover {
    background-color: #FF4DCE;
    color: black;
    padding: 4px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

footer {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 100%;
}
.paragrafo__conteudo {
    text-align: center;
}
table,
th {
    border-radius: 10px;
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;

}

